*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:linear-gradient(135deg,#fb0404,#000b0b);
transition:.4s;
}

.calculator{
width:360px;
padding:25px;
border-radius:25px;
background:rgba(255,255,255,.15);
backdrop-filter:blur(15px);
box-shadow:0 15px 35px rgba(0,0,0,.3);
}

.top{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.top h2{
color:#fff;
}

#themeBtn{
width:45px;
height:45px;
border:none;
border-radius:50%;
cursor:pointer;
font-size:20px;
}

#history{
height:22px;
text-align:right;
color:#eee;
margin-bottom:8px;
font-size:15px;
}

#display{
width:100%;
height:70px;
border:none;
outline:none;
border-radius:12px;
font-size:32px;
text-align:right;
padding:15px;
margin-bottom:20px;
background:white;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:12px;
}

button{
height:65px;
border:none;
border-radius:15px;
cursor:pointer;
font-size:22px;
font-weight:600;
transition:.3s;
}

button:hover{
transform:scale(1.05);
}

button:active{
transform:scale(.95);
}

.operator{
background:#ff9800;
color:white;
}

.equal{
grid-column:span 4;
background:#00c853;
color:white;
}

.dark{
background:#101010;
}

.dark .calculator{
background:#222;
}

.dark #display{
background:#333;
color:white;
}

.dark #history{
color:#ccc;
}

@media(max-width:420px){

.calculator{
width:95%;
}

button{
height:60px;
font-size:20px;
}

}